body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(235, 232, 232);
}
#mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li {
    margin-bottom: 5px;
}

